<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @game.title %>
</p>

<p>
  <strong>Year played:</strong>
  <%= @game.year_played %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @game.rating %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
